<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- Prevent viewport zoom -->
  <meta name="viewport" content="initial-scale=1.0">
  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <!-- Favicon -->
  <link rel="shortcut icon" href="/img/rust-logo-blk.ico">

  <title>RustBridge</title>
  <!-- General CSS -->
  <link rel="stylesheet" type="text/css" href="/css/mobile-style.css">
  <link rel="stylesheet" type="text/css" href="/css/max-style.css">
  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,300,200,500,600,700,900" rel="stylesheet" type="text/css">
</head>

<body>

  <div class="wrapper">
    <header>
      <div class="logo">
        <img src="/img/rust-bridge-logo.png" alt="Rust Bridge Logo">
      </div>
      
      <nav>
        <ul>
          <li><a href="/">RustBridge</a></li>
          <li><a href="/#workshops">Workshops</a></li>
          <li><a href="/mentors">Team &amp; CoC</a></li>
          <li><a href="/blog">News</a></li>
          <li><a href="mailto:rust-mods@rust-lang.org" target="_blank">Email</a></li>
        </ul>
      </nav>
    </header>

    {% block content %}
    {% endblock content %}
  </div>

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <!-- overlay script -->
  <script type="text/javascript" src="/js/activeAnchor.js"></script>
</body>
</html>
