<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- Prevent viewport zoom -->
  <meta name="viewport" content="initial-scale=1.0">
  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ config.base_url }}/img/rust-logo-blk.ico">

  <title>RustBridge{% block title %}{% endblock title %}</title>
  <!-- General CSS -->
  <link rel="stylesheet" type="text/css" href="{{ config.base_url }}/css/mobile-style.css">
  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,300,200,500,600,700,900" rel="stylesheet" type="text/css">
</head>

<body>

  <div class="wrapper {% block pageclass %}{% endblock pageclass %}">
    <header>
      <div class="logo">
        <a href="{{ config.base_url }}" title="RustBridge">
          <img src="{{ config.base_url }}/img/rust-bridge-logo.png" alt="Rust Bridge Logo">
        </a>
      </div>
      
      <nav>
        <a href="{{ config.base_url }}/workshops">Workshops</a>
        <a href="{{ config.base_url }}/#team">Mentors</a>
        <a href="https://community.rs/rustbridge/">Guides</a>
        <a href="https://blog.community.rs">News</a>
        <a href="https://www.rust-lang.org/en-US/conduct.html">Conduct</a>
        <a href="mailto:rust-mods@rust-lang.org" target="_blank">Contact</a>
      </nav>
    </header>

    {% block content %}
    {% endblock content %}
  </div>

  {% block scripts %}
  {% endblock scripts %}
</body>
</html>
