{% extends "base.html" %}

{% block content %}

<section class="about">
  <header>
    <h1>RustBridge</h1>
  </header>
  <article>
    <p>Free and guided workshops in Rust – a systems programming language that runs blazingly fast, prevents segfaults, and guarantees thread safety.<br/>
      Our events are aimed at people who are underrepresented in technology and offer the opportunity to learn within a friendly, safe and sometimes fun environment.<br/>
      We do this by providing rewarding learning experiences, building helpful tools as well as materials and gathering a group of awesome humans.<br/>
      RustBridge is a project by the <a href="https://community.rs">Rust Language Community Team</a>.</p>
  </article>
</section>

<section class="workshops">
  <header>
    <h1>Upcoming Workshops</h1>
  </header>
  <div>
    {% for workshop in pages %}
    {% if workshop.category == "workshops" %}
    <section class="workshop">
      <header>
        <div class="workshop-img">
          <img src="{{ workshop.extra.image }}">
        </div>
        <p><strong>Where:</strong> <a href="{{ workshop.extra.location_url }}" target="_blank" alt="{{ workshop.extra.location_name}}">{{ workshop.extra.location_name }}</a>, {{ workshop.extra.city }}, {{ workshop.extra.country}}</p>
        <p><strong>When:</strong> {{ workshop.date }}</p>
      </header>
      <article>
        {{ workshop.content|safe }}
        <br/>
        <a href="{{ workshop.permalink }}">See more...</a>
      </article>
    </section>
    {% endif %}
    {% endfor %}

  </div>
</section>

{# To add a new member to the team, add a new post to content with category = "member" #}
<section class="team">
  <header>
    <h1>Team</h1>
  </header>
  <div class="mentors">
    {% for mentor in pages %}
    {# FIXME: this shouldn't work but it does. It should be changed to pages | sclice above but it's not working on tera atm #}
    {% if mentor.category == "mentors" and loop.index0 < 3 %}
    <section>
      <header>
        <div class="mentor-img">
          <img src="{{ mentor.extra.image }}">
        </div>
        <p>{{ mentor.title }}</p>
      </header>
      <p><strong>GitHub:</strong> <a href="//github.com/{{ mentor.extra.github }}" target="_blank">{{ mentor.extra.github }}</a></p>
    </section>
    {% endif %}
    {% endfor %}
    <p>
      <a href="/mentors/">See all the mentors...</a>
    </p>
  </div>
</section>

<!-- <div id="materials">
  <div class="copy">
    <h2>Materials</h2>
  </div>
</div>
-->

<section class="coc">
  <header>
    <h1>Code of Conduct</h1>
  </header>
  <article>
    <p>
      Please read <a href="https://www.rust-lang.org/en-US/conduct.html">The Rust Code of Conduct</a>
    </p>
  </article>
</section>

<section class="news">
  <header>
    <h1>This week in Rust</h1>
  </header>
  <article>
    <header>
      <h4>Handpicked Rust updates, delivered to your inbox. Stay up to date with events, learning resources, and recent developments in Rust community.</h4>
    </header>
    <form action="//this-week-in-rust.us11.list-manage.com/subscribe/post?u=fd84c1c757e02889a9b08d289&amp;id=0ed8b72485" method="post" novalidate>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <input type="email" name="EMAIL" value="Enter your email" />
      <input type="submit" name="subscribe" value="Subscribe!" />
      <p>Receive a weekly newsletter, every Tuesday. Easy to unsubscribe and no spam, promise.</p>
    </form>
  </article>
</section>

{% endblock content %}
